#!/usr/bin/env bash

set euo -pipefail

cd {{ gcs_build_dir }}/grass

export CFLAGS='{{ gcs_cflags }}'
export CXXFLAGS='{{ gcs_cxxflags }}'
export LDFLAGS='{{ gcs_ldflags }}'
./configure \
    --host=x86_64-linux-gnu \
    --build=x86_64-linux-gnu \
    --target=x86_64-linux-gnu \
    --prefix=/usr/lib \
    --sysconfdir=/etc \
    --sharedstatedir=/var \
    --enable-shared \
    --enable-largefile=yes \
    --with-x \
    --with-wxwidgets=/usr/bin/wx-config \
    {% if gcs_blas_support -%} --with-blas {% else -%} --without-blas {% endif %} \
    {% if gcs_bzip2_support -%} --with-bzlib {% else -%} --without-bzlib {% endif %} \
    {% if gcs_cxx_support -%} --with-cxx {% else -%} --without-cxx {% endif %} \
    {% if gcs_cairo_support -%} --with-cairo {% else -%} --without-cairo {% endif %} \
    {% if gcs_fftw_support -%} --with-fftw {% else -%} --without-fftw {% endif %} \
    {% if gcs_gdal_support -%} --with-gdal {% else -%} --without-gdal {% endif %} \
    {% if gcs_lapack_support -%} --with-lapack {% else -%} --without-lapack {% endif %} \
    {% if gcs_liblas_support -%} --with-liblas=/usr/bin/liblas-config {% else -%} --without-liblas {% endif %} \
    {% if gcs_mysql_support -%} --with-mysql --with-mysql-includes='/usr/include/mysql' {% else -%} --without-mysql {% endif %} \
    {% if gcs_netcdf_support -%} --with-netcdf=/usr/bin/nc-config {% else -%} --without-netcdf {% endif %} \
    {% if gcs_nls_support -%} --with-nls {% else -%} --without-nls {% endif %} \
    {% if gcs_odbc_support -%} --with-odbc {% else -%} --without-odbc {% endif %} \
    {% if gcs_opengl_support -%} --with-opengl {% else %} --without-opengl {% endif %} \
    {% if gcs_openmp_support -%} --with-openmp {% else %} --without-openmp {% endif %} \
    {% if gcs_png_support -%} --with-png {% else %} --without-png {% endif %} \
    {% if gcs_pthread_support -%} --with-pthread {% else %} --without-pthread {% endif %} \
    {% if gcs_readline_support -%} --with-readline {% else %} --without-readline {% endif %} \
    {% if gcs_regex_support -%} --with-regex {% else %} --without-regex {% endif %} \
    {% if gcs_sqlite_support -%} --with-sqlite {% else %} --without-sqlite {% endif %} \
    {% if gcs_tiff_support -%} --with-tiff {% else %} --without-tiff {% endif %} \
    {% if gcs_w11_support -%} --enable-w11 {% else %} --disable-w11 {% endif %} \
    {% if gcs_zstd_support -%} --with-zstd {% else %} --without-zstd {% endif %} \
    {# FREETYPE -#}
    {% if gcs_freetype_support -%}
    --with-freetype \
    --with-freetype-includes='/usr/include/freetype2/' \
    {% else -%}
    --without-freetype \
    {% endif -%}
    {# GEOS -#}
    {% if gcs_geos_support -%}
        {% if gcs_precompiled_geos -%}
            --with-geos=/usr/bin/geos-config \
        {% else -%}
            --with-geos=/usr/local/bin/geos-config \
        {%- endif -%}
    {% else -%}
        --without-geos \
    {%- endif %}
    {# OpenCL -#}
    {% if gcs_opencl_support -%}
    --with-opencl \
    --with-opencl-includes=/usr/include/CL \
    --with-opencl-libs=/usr/lib/x86_64-linux-gnu \
    {% else -%}
    --without-opencl \
    {% endif -%}
    {# POSTGRES -#}
    {% if gcs_postgres_support -%}
    --with-postgres \
    --with-postgres-includes=/usr/include/postgresql/ \
    {% else -%}
    --without-postgres \
    {% endif %}
    {# PDAL -#}
    {% if gcs_pdal_support -%}
        {% if gcs_precompiled_pdal -%}
            --with-pdal=/usr/bin/pdal-config \
        {% else -%}
            --with-pdal=/usr/local/bin/pdal-config \
        {%- endif -%}
    {% else -%}
        --without-pdal \
    {% endif %}
    {# PROJ -#}
    {% if gcs_precompiled_proj -%}
    --with-proj-share=/usr/share/proj
    {% else -%}
    --with-proj-share=/usr/local/share/proj
    {% endif %}
