#!/usr/bin/env bash

set euo -pipefail

cd {{ gsi_build_dir }}/grass

CFLAGS='{{ gsi_cflags }}' \
CXXFLAGS='{{ gsi_cxxflags }}' \
LDFLAGS='{{ gsi_ldflags }}' \
./configure \
    --host=x86_64-linux-gnu \
    --build=x86_64-linux-gnu \
    --target=x86_64-linux-gnu \
    --prefix=/usr/lib \
    --sysconfdir=/etc \
    --sharedstatedir=/var \
    --enable-shared \
    --enable-largefile=yes \
    --with-x \
    --with-wxwidgets=/usr/bin/wx-config \
    {% if gsi_blas_support -%} --with-blas {% else -%} --without-blas {% endif %} \
    {% if gsi_bzip2_support -%} --with-bzlib {% else -%} --without-bzlib {% endif %} \
    {% if gsi_cxx_support -%} --with-cxx {% else -%} --without-cxx {% endif %} \
    {% if gsi_cairo_support -%} --with-cairo {% else -%} --without-cairo {% endif %} \
    {% if gsi_fftw_support -%} --with-fftw {% else -%} --without-fftw {% endif %} \
    {% if gsi_gdal_support -%} --with-gdal {% else -%} --without-gdal {% endif %} \
    {% if gsi_lapack_support -%} --with-lapack {% else -%} --without-lapack {% endif %} \
    {% if gsi_liblas_support -%} --with-liblas=/usr/bin/liblas-config {% else -%} --without-liblas {% endif %} \
    {% if gsi_mysql_support -%} --with-mysql --with-mysql-includes='/usr/include/mysql' {% else -%} --without-mysql {% endif %} \
    {% if gsi_netcdf_support -%} --with-netcdf=/usr/bin/nc-config {% else -%} --without-netcdf {% endif %} \
    {% if gsi_nls_support -%} --with-nls {% else -%} --without-nls {% endif %} \
    {% if gsi_odbc_support -%} --with-odbc {% else -%} --without-odbc {% endif %} \
    {% if gsi_opengl_support -%} --with-opengl {% else %} --without-opengl {% endif %} \
    {% if gsi_openmp_support -%} --with-openmp {% else %} --without-openmp {% endif %} \
    {% if gsi_png_support -%} --with-png {% else %} --without-png {% endif %} \
    {% if gsi_pthread_support -%} --with-pthread {% else %} --without-pthread {% endif %} \
    {% if gsi_readline_support -%} --with-readline {% else %} --without-readline {% endif %} \
    {% if gsi_regex_support -%} --with-regex {% else %} --without-regex {% endif %} \
    {% if gsi_sqlite_support -%} --with-sqlite {% else %} --without-sqlite {% endif %} \
    {% if gsi_tiff_support -%} --with-tiff {% else %} --without-tiff {% endif %} \
    {% if gsi_w11_support -%} --enable-w11 {% else %} --disable-w11 {% endif %} \
    {% if gsi_zstd_support -%} --with-zstd {% else %} --without-zstd {% endif %} \
    {# FREETYPE -#}
    {% if gsi_freetype_support -%}
    --with-freetype \
    --with-freetype-includes='/usr/include/freetype2/' \
    {% else -%}
    --without-freetype \
    {% endif -%}
    {# GEOS -#}
    {% if gsi_geos_support -%}
        {% if gsi_precompiled_geos -%}
            --with-geos=/usr/bin/geos-config \
        {% else -%}
            --with-geos=/usr/local/bin/geos-config \
        {%- endif -%}
    {% else -%}
        --without-geos \
    {%- endif -%}
    {# OpenCL -#}
    {% if gsi_opencl_support -%}
    --with-opencl \
    --with-opencl-includes=/usr/include/CL \
    --with-opencl-libs=/usr/lib/x86_64-linux-gnu \
    {% else -%}
    --without-opencl \
    {% endif -%}
    {# POSTGRES -#}
    {% if gsi_postgres_support -%}
    --with-postgres \
    --with-postgres-includes=/usr/include/postgresql/ \
    {% else -%}
    --without-postgres \
    {% endif %}
    {# PDAL -#}
    {% if gsi_pdal_support -%}
        {% if gsi_precompiled_pdal -%}
            --with-pdal=/usr/bin/pdal-config \
        {% else -%}
            --with-pdal=/usr/local/bin/pdal-config \
        {%- endif -%}
    {% else -%}
        --without-pdal \
    {% endif %}
    {# PROJ -#}
    {% if gsi_precompiled_proj -%}
    --with-proj-share=/usr/share/proj \
    {% else -%}
    --with-proj-share=/usr/local/share/proj \
    {% endif %}
